[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sqlalchemy = "*"
pyarrow = "*"
pandas = "*"
requests = "*"
responses = "*"

[packages]
ndjson = "*"

[requires]
python_version = "3.8"
